################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/obj/Debug/net5.0
/.vs/BookStore/v16
/.vs
